.Button {
    border-radius: 35px;
    padding: 18px 36px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat';
    background: #E28F1D;
    color: #fff;
    cursor: pointer;
} 

/* Bubbles on the Fashion Section */

.Bubbles {
    width: 255px;
    height: 224px;
}

.Bubbles svg {
    margin: 0 87.5px;
}

.Bubbles h5 {
    margin-top: 16px;
    text-align: center;
}

.Bubbles p{
    margin-top: 4px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}


/* Social Cards in the Social Section */

.SocialCard {
    width: 350px;
    height: 286px;
    padding: 32px 25px;
    border-radius: 8px;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.SocialCard svg {
    margin: 0 16px 32px 0;
}

.SocialSnippets {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
    height: max-content;
}

.SocialSnippets svg{
    width: 16px;
    height: 14px;
}

.SocialSnippets p{
    width: calc(100% - 16px);
    height: max-content;
    color: #fff;
}