.Button {
    border-radius: 35px;
    padding: 18px 36px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat';
    background: #E28F1D;
    color: #fff;
    cursor: pointer;
} 

/* Bubbles on the Fashion Section */

.Bubbles {
    width: 255px;
    height: 224px;
}

.Bubbles svg {
    margin: 0 87.5px;
}

.Bubbles h5 {
    margin-top: 16px;
    text-align: center;
}

.Bubbles p{
    margin-top: 4px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

/* PRODUCT SUMMARY */
.ProductSummary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.SummaryDescription {
    width: 100%;
}

.SummaryDescription .SummaryPhoto {
    display: none;
}

.SummaryDescription .SummaryPhotoRight {
    display: none;
}

.ProductSummary h3{
    text-align: left;
    margin-bottom: 30px;
}

.ProductSummary p {
    width: calc(100% - 100px);
    margin-bottom: 30px;
}

.ProductSummary .Button {
    align-self: left;
    width: max-content;
}
.SummaryPhoto {
    width: 100%;
    height: inherit;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.SummaryPhotoRight {
    width: 100%;
    height: inherit;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 100px;
}


/* Social Cards in the Social Section */

.SocialCard {
    width: 350px;
    height: 286px;
    padding: 32px 25px;
    border-radius: 8px;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.SocialCard svg {
    margin: 0 16px 32px 0;
}

.SocialSnippets {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
    height: max-content;
}

.SocialSnippets svg{
    width: 16px;
    height: 14px;
}

.SocialSnippets p{
    width: calc(100% - 16px);
    height: max-content;
    color: #fff;
}



/* WAITLIST FORM */
.WaitlistForm {
    display: flex;
    width: 100%;
    justify-content: center;
}

.WaitlistForm input {
    padding: 18px 36px;
    border-radius: 35px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 18px;
    border: 2px solid #E28F1D;
    outline: none;
}

.WaitlistForm ::-webkit-input-placeholder {
    color: #fff;
}

#tel {
    width: 440px;
    background: transparent;
}

#submitbtn {
    width: 220px;
    background: #E28F1D;
    margin-left: -220px;
    cursor: pointer;
}

/* FOOTER */
footer {
    width: calc(100% - 140px);
    padding: 60px 70px;
    background: #0B0D17;
    color: #fff;
    font-family: 'Sora';
}

.FooterLinksContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.FooterLinks{
    width: 255px;
}

.FooterLinks p {
    margin-bottom: 24px;
    font-weight: 600;
}

.FooterLinks a {
    width: 100%;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 12px;
    color: inherit;
    font-size: 14px;
}

.FooterLinks span {
    width: 100%;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 12px;
    color: inherit;
    font-size: 14px;
}

#footersocials {
    width: inherit;
    display: flex;
    justify-content: space-between;
}

#footersocials a {
    width: max-content;
}

footer hr {
    width: 100vw;
    margin: 0 0 64px -70px;
    opacity: 0.1;
    border: 0.5px solid #FFFFFF;
}

.EndCredits {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.EndCredits img {
    height: 21px;
}

span a {
    color: inherit;
}

@media (max-width: 1000px) {
    /* BUTTON */
    .Button {
        font-size: 15px;
    }

    .Bubbles {
        margin: 50px auto;
    }




    /* PRODUCTS */
    .ProductSummary {
        display: block;
    }

    .ProductSummary h3 {
        width: 100%;
    }

    .SummaryDescription .SummaryPhoto {
        height: 150px;
        display: block!important;
        
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 30px;
    }

    .SummaryDescription .SummaryPhotoRight {
        display: block!important;
        
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 150px;
        margin-bottom: 30px;
    }

    .SummaryPhoto {
        display: none;
    }

    .SummaryPhotoRight {
        display: none;
    }

    .ProductSummary p {
        width: 100%;
    }




    /* SOCIAL CARDS */

    .SocialCard {
        position: absolute;
        width: 116px;
        height: 96px;
        padding: 12px 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .SocialCard svg {
        width: 20px;
        height: 20px;
    }

    .SocialSnippets {
        display: none;
    }
    
    .SocialCard p {
        display: none;
    }

    .SocialCard span {
        width: 100%;
        
    }

    /* WAITLIST FORM */
    .WaitlistForm {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .WaitlistForm form {
        width: 100%;
        display: flex;
    }

    .WaitlistForm input {
        padding: 20px 18px;
        font-size: 15px;
    }

    #tel {
        width: calc(100% - 36px);
    }

    #submitbtn {
        margin-left: -50%;
        width: max-content;
    }



    /* FOOTER */

    footer {
        padding: 75px 30px;
        width: calc(100% - 60px);
    }
    
    .FooterLinksContainer {
        /* position: relative; */
        flex-wrap: wrap;
    }

    .FooterLinks {
        width: 140px;
        margin-bottom: 50px;
    }

    .FooterLinks p {
        margin-bottom: 24px;
    }

    .FooterLinks a {
        width: 170px;
        font-size: 12px;
    }

    #footersocialscontainer {
        width: 255px
    }

    #footersocialscontainer span {
        font-size: 12px;
    }

    .EndCredits {
        width: 100%;
        display: block;
    }

    .EndCredits span {
        width: 100%;
        margin-bottom: 50px;
        display: inline-block;
    }

    .EndCredits img {
        margin-bottom: 50px;
    }
}