/* FOR MEN SECTION */

.ForMen {
    margin: 0;
    width: 100vw;
    height: 805px;
    background: linear-gradient(73.65deg, #18191F 0%, rgba(24, 25, 31, 0.54026) 46.73%, rgba(24, 25, 31, 0.03) 98.61%), url('../images/Welcome Background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ForMen h1 {
    position: absolute;
    top: 282px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.ForMen h4 {
    position: absolute;
    top: 388px;
    width: 100%;
    text-align: center;
    color: #fff;
    opacity: 0.7;

}

.ForMen .Button {
    position: absolute;
    top: 470px;
    left: calc(50% - 87.5px);
}

/* FASHION SECTION */

.Fashion {
    margin: 0;
    width: 100vw;
    height: 850px;
    background: #fff;
}

.Fashion h2 {
    margin-top: 100px;
    width: 100%;
    text-align: center;
    color: #18191F;
}

.Fashion h4 {
    margin-top: 24px;
    width: 100%;
    text-align: center;
    color: #18191F;
    opacity: 0.7;

}

.Fashion .Button {
    margin-left: calc(50% - 75px);
    width: max-content;
}

.BubbleContainer {
    margin: 100px 83px;
    width: calc(100% - 166px);
    display: flex;
    justify-content: space-between;
}

#stores-bubble {
    margin-top: 144px;
}

#connect-bubble {
    margin-top: 144px;
}



/* PRODUCTS SECTION */


.Products {
    padding: 0 70px;
    width: calc(100% - 140px);
}

.Products h2 {
    margin-bottom: 50px;
}
.ProductSummary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.SummaryDescription {
    width: 100%;
}

.ProductSummary h3{
    text-align: left;
    margin-bottom: 30px;
}

.ProductSummary p {
    width: calc(100% - 100px);
    margin-bottom: 30px;
}

.ProductSummary .Button {
    align-self: left;
    width: max-content;
}
.SummaryPhoto {
    width: 100%;
    height: inherit;
    background: blue;
}

.SummaryPhotoRight {
    width: 100%;
    height: inherit;
    background: blue;
    margin-right: 100px;
}


/* SOCIALS SECTION */
.Socials {
    margin-top: 275px;
    padding: 0 70px;
    margin-bottom: 100px;
}
.Socials h2{
    margin-bottom: 24px;
}

.Socials h4{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.SocialsTopRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.SocialsBottomRow {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#instacard{
    background-image: linear-gradient(0deg, rgba(225, 48, 108, 0.2), rgba(225, 48, 108, 0.2)), url(../images/skin.webp);
    box-shadow: 0px 10px 20px rgba(225, 48, 108, 0.07);
}

#twittercard{
    background-image: linear-gradient(0deg, rgba(29, 155, 240, 0.2), rgba(29, 155, 240, 0.2)), url(../images/pexels-maria-orlova-4947748.webp);
    box-shadow: 0px 10px 20px rgba(29, 155, 240, 0.07);
}

#facebookcard{
    background-image: linear-gradient(0deg, rgba(23, 120, 242, 0.2), rgba(23, 120, 242, 0.2)), url(../images/pexels-amusan-6732346.webp);
    box-shadow: 0px 10px 20px rgba(29, 155, 240, 0.07)
}

#linkedincard{
    background-image: linear-gradient(0deg, rgba(10, 102, 194, 0.2), rgba(10, 102, 194, 0.2)), url(../images/pexels-cottonbro-4727484.webp);
    box-shadow: 0px 10px 20px rgba(29, 155, 240, 0.07);
}

#whatsappcard{
    background-image: linear-gradient(0deg, rgba(40, 209, 70, 0.2), rgba(40, 209, 70, 0.2)), url(../images/pexels-cottonbro-6626903.webp);
    box-shadow: 0px 10px 20px rgba(29, 155, 240, 0.07);
}


/* OUR APP SECTION */
.OurApp {
    width: calc(100% - 140px);
    height: 300px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/Frame\ 24.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 70px;
    color: #fff ;
}

.OurApp h1 {
    width: 100%;
    text-align: center;
}

.OurApp h4 {
    margin: 24px 0 50px 0;
    width: 100%;
    text-align: center;
    color: #fff;
    opacity: 0.7;
}