.MobileApp {
    color: #18191F;
}

.MobileApp nav ul li {
    color: #18191F;
}

.MobileApp #logoblack {
    display: block;
}

.MobileApp #logowhite {
    display: none;
}


.MobileAppHeader {
    width: calc(100% - 140px);
    height: calc(100vh - 140px);
    display: flex;
    /* gap: 109px; */
    justify-content: space-between;
    padding: 140px 70px 0 70px;
    overflow: hidden;
    /* align-items: flex-end; */
}

.MobileAppHeader h2 {
    text-align: left;
}

.MobileAppExperience {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 326px;
    margin-bottom: 67px;
    align-self: flex-end;
}


.MobileAppBuzz {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 160px);
    width: max-content;
}

.MobileAppBuzz h3 {
    width: 100%;
}
.HomePageDisplay {
    width: 431px;
    height: 100%;
    background-image: url(../images/HomePageDisplay.webp);
}
.AppPitch {
    display: flex;
    width: calc(100% - 140px);
    margin: 100px auto;
    gap: 50px;
    height: 600px;
    overflow: hidden;
}

.AppPitchImage {
    background-color: transparent;
    width: 500px;
    height: 1000px;
}
#stylecalendar {
    background-image: url(../images/StyleCalendar.webp);
}
#googleforstyle{
    background-image: url(../images/GoogleForStyle.webp);
}
#meetcreators{
    background-image: url(../images/MeetCreators.webp);
}
#itemsforsale{
    background-image: url(../images/ItemsForSale.webp);
}
.AppPitchDescription {
    display: flex;
    gap: 30px;
    width: 750px;
    flex-direction: column;
}

@media (max-width: 1000px){
    .MobileApp #logoblack {
        display: none;
    }   


    .MobileAppHeader {
        width: calc(100% - 60px);
        height: calc(100vh - 140px);
        display: flex;
        flex-direction: column;
        padding: 140px 30px 0 30px;
        gap: 20px;
        overflow: hidden;
        /* align-items: flex-end; */
    }

    .MobileAppHeader .Button {
        display: none;
    }
    
    .MobileAppHeader h2 {
        text-align: left;
    }
    
    .MobileAppExperience {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        margin-bottom: 0;
        align-self: flex-end;
    }
    
    
    .MobileAppBuzz {
        display: flex;
        flex-direction: column;
        height: calc(100% - 160px);
        gap: 20px;
        justify-content: unset;
        width: max-content;
    }
    
    .MobileAppBuzz h3 {
        width: 100%;
    }
    .HomePageDisplay {
        width: 100%;
        height: 500px;
        background-image: url(../images/HomePageDisplay.webp);
        background-size: cover;
    }

    .AppPitch {
        display: flex;
        flex-direction: column;
        width: calc(100% - 60px);
        margin: 50px auto;
        gap: 20px;
        height: 600px;
        overflow: hidden;
    }

    .AppPitchImage {
        background-color: transparent;
        width: 100%;
        height: 200px;
        order: 1;
        background-size: cover;
    }

    .AppPitchDescription {
        display: flex;
        gap: 20px;
        order: 2;
        width: 750px;
        flex-direction: column;
    }

}