nav {
    position: absolute;
    top: 30px;
    left: 70px;
    width: calc(100vw - 140px);

    display: flex;
    justify-content: space-between;

    z-index: 10;
}

nav img {
    height: 20px;
    width: auto;
    margin: 18px 0px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 18px 0px;
}

nav ul li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-right: 30px;
    color: #fff;
}