.DocBody nav ul li {
    color: #18191F;
}

#logoblack {
    display: none;
}

.DocBody nav img {
    display: none;
}
.DocBody #logoblack {
    display: block!important;
}

.DocBody #logowhite {
    display: none;
}
nav {
    position: absolute;
    top: 30px;
    left: 70px;
    width: calc(100vw - 140px);

    display: flex;
    justify-content: space-between;

    z-index: 10;
}

nav img {
    height: 25px;
    width: auto;
    margin: 18px 0px;
}

#mobile {
    display: none;
}

#menu {
    display: none;
}

#cancel {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    margin: 18px 0px;
    transition: 0.5s;
}

nav ul li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-right: 30px;
    color: #fff;
    display: flex;
    cursor: pointer;
}

nav ul li svg path {
    fill: #fff;
}

nav ul li svg:hover{
    transform: rotate(180deg)
}

nav ul ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    margin: 0;
}

#productsubpages {
    display: none;
}

nav .Button {
    width: max-content;
}

@media (max-width: 1000px) {
    .DocBody nav img {
        display: block;
    }
    .DocBody #logoblack {
        display: none!important;
    }
    
    nav {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100vw - 60px);
        height: 10px;
        overflow: hidden;
        /* height: 380px; */
        padding: 20px 30px;
        background: #fff;
        box-shadow: 0px 6px 10px rgba(24, 25, 31, 0.07);
        transition: 0.3s;
    }

    nav img {
        display: none;
        height: 20px;
    }

    .MobileNavBar {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: space-between;
    }

    #mobile {
        margin: 0;
        display: block!important;
    }

    #menu {
        margin: -5px 0 0 0;
        height: 28px;
        display: block;
    }

    #cancel {
        margin: -5px 0 0 0;
        height: 28px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0px;
        gap: 30px;
        width: 100%;
        margin: 30px 0;
    }

    nav ul ul {
        align-items: flex-end;
        width: max-content;
    }

    nav ul ul ul li {
        font-size: 16px;
    }

    nav ul li {
        text-align: right;
        margin-right: 0;
        display: flex;
        color: #18191F;
    }

    nav ul li svg {
        height: 22px;
    }

    nav ul li svg path {
        fill: #18191F;
    }

    nav .Button {
        width: 100%;
        text-align: right;
        padding: 0;
        color: #E28F1D;
        background: none;
        font-size: 18px;
    }
}