.SpotlightRead {
    width: 100%;
    height: calc(100vh + 100px);
    background-image: linear-gradient(0deg, rgba(24, 25, 31, 0.6), rgba(24, 25, 31, 0.6)), url(../images/ClothingItemsToElevateYourWardrobeHeader.webp);
    /* background-image: url(../images/howtocareforyourclothesheader.webp); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 350px;
}

.SpotlightReadInfo{
    position: absolute;
    top: 250px;
    left: 70px;
    width: 720px;
    height: 330px;
}

.SpotlightReadInfo h3 {
    color: #E28F1D;
    margin-bottom: 30px;
}

.SpotlightReadInfo h2 {
    text-align: left;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* PREVIOUS SPOTLIGHT */

.PreviousSpotlight {
    position: absolute;
    top: 200px;
    right: 70px;
    width: 300px;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
}

.PreviousSpotlight:hover {
    color: #E28F1D!important;
    transform: scale(1.2);
}

.PreviousSpotlightImage:hover {
    color: #E28F1D!important;
}

.PreviousSpotlight h3 {
    margin-bottom: 30px;
}

.PreviousSpotlightImage {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(0deg, rgba(24, 25, 31, 0.4), rgba(24, 25, 31, 0.4)), url(../images/SkinCareProductsHeader.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    transition: 0.3s;
}

/* .PreviousSpotlight:hover .PreviousSpotlightImage,
.PreviousSpotlight:focus .PreviousSpotlightImage {
  transform: scale(1.2);
} */
.PreviousSpotlight h4 {
    font-family: 'Sora';
    width: 100%;
    line-height: normal;
    text-transform: capitalize;
    font-size: 20px;
}


/* Related Reads */

.RelatedReads {
    position: absolute;
    bottom: -260px;
    right: 0;
    width: 940px;
    height: 240px;
    background-color: rgba(24, 25, 31, 0.8);
    padding: 30px;
    color: #fff;
}

.RelatedReads h3 {
    margin-bottom: 30px;
}

.RelatedReadsItemContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.RelatedReadsItem {
    font-size: 20px;
    display: flex;
    width: 420px;
    transition: 0.3s;
    cursor: pointer;
}

.RelatedReadsItem:hover{
    color: #E28F1D;
    transform: scale(1.1);
}
.RelatedReadsItem a {
    font-family: 'Sora';
    font-weight: 400;
    width: 200px;
}

.RelatedReadsItemImage {
    width: 200px;
    height: 150px;
    background-color: aquamarine;
    margin-right: 20px;
    color: transparent!important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* OLDER POSTS */
.OlderPosts {
    width: calc(100% - 140px);
    margin: 0 auto;
    position: relative;
    padding: 20px 0;
}

.ThinLine {
    width: 100%;
    background: #18191F;
    border: 1px solid #18191F;
    margin: 0;
}

.ThickLine {
    width: 400px;
    border: 4px solid #18191F;
    margin: 0 0 16px 0;
}

.OlderPosts h2 {
    text-align: left;
    margin-bottom: 50px;
}

.OlderPostsItemContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.OlderPostsItem {
    width: 400px;
    margin-bottom: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.OlderPostsItemImage {
    background: aquamarine;
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    transition: 0.3s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.OlderPostsItem h3 {
    width: 100%;
    margin-bottom: 20px;
}

.OlderPostsItem p {
    width: 100%;
    margin-bottom: 20px;
}

.OlderPostsItem:hover {
    color: #E28F1D;
    transform: scale(1.1);
}

/* .OlderPostsItem:hover .OlderPostsItemImage,
.OlderPostsItem:focus .OlderPostsItemImage {
  transform: scale(1.1);
} */


/* OLDERPOSTS IMAGES */
#nineaccessories {
    background-image: url(../images/AccessoriesHeader.webp);
}

#howtowearasuit {
    background-image: url(../images/SuitHeader.webp);
}

#skincaretips {
    background-image: url(../images/SkinCareHeader.webp);
}

#fiveoutfitmistakes {
    background-image: url(../images/FiveOutfitMistakes.webp);
}

#buildingaversatile {
    background-image: url(../images/VersatileWardrobe.webp);
}

#howtocleanyoursneakers {
    background-image: url(../images/HowToCleanSneakersHeader.webp);
}

#fiveamazingcasualoutfits {
    background-image: url(../images/FiveAmazingCasualOutfitHeader.webp);
}

#blackfriday {
    background-image: url(../images/BlackFridayHeader.webp);
}

#appearmajestic {
    background-image: url(../images/MajesticHeader.webp);
}

#guidetomensboots{
    background-image: url(../images/BootsHeader.webp);
}

#guideonbusinesscasuals{
    background-image: url(../images/GuideOnBusinessCasuals.webp);
}

/* POST HEADERS */
#nineaccessoriesheader {
    background-image:  linear-gradient(0deg, rgba(24, 25, 31, 0.6), rgba(24, 25, 31, 0.6)), url(../images/AccessoriesHeader.webp);
}

#skincareproductsheader{
    background-image:  linear-gradient(0deg, rgba(24, 25, 31, 0.6), rgba(24, 25, 31, 0.6)), url(../images/SkinCareProductsHeader.webp);
}

#howtowearasuitheader {
    background-image:  linear-gradient(0deg, rgba(24, 25, 31, 0.6), rgba(24, 25, 31, 0.6)), url(../images/SuitHeader.webp);
}

#skincaretipsheader {
    background-image: linear-gradient(0deg, rgba(24, 25, 31, 0.6), rgba(24, 25, 31, 0.6)), url(../images/SkinCareHeader.webp);
}

#fiveoutfitmistakesheader {
    background-image: linear-gradient(0deg, rgba(24, 25, 31, 0.6), rgba(24, 25, 31, 0.6)), url(../images/FiveOutfitMistakes.webp);
}

#buildingaversatileheader {
    background-image: linear-gradient(0deg, rgba(24, 25, 31, 0.6), rgba(24, 25, 31, 0.6)), url(../images/VersatileWardrobe.webp);
}

#howtocleanyoursneakersheader {
    background-image: linear-gradient(0deg, rgba(24, 25, 31, 0.6), rgba(24, 25, 31, 0.6)), url(../images/HowToCleanSneakersHeader.webp);
}

#fiveamazingcasualoutfitsheader {
    background-image: linear-gradient(0deg, rgba(24, 25, 31, 0.6), rgba(24, 25, 31, 0.6)), url(../images/FiveAmazingCasualOutfitHeader.webp);
}

#blackfridayheader {
    background-image: linear-gradient(0deg, rgba(24, 25, 31, 0.6), rgba(24, 25, 31, 0.6)), url(../images/BlackFridayHeader.webp);
}

#appearmajesticheader {
    background-image: linear-gradient(0deg, rgba(24, 25, 31, 0.4), rgba(24, 25, 31, 0.4)), url(../images/MajesticHeader.webp);
}

#guidetomensbootsheader{
    background-image: linear-gradient(0deg, rgba(24, 25, 31, 0.6), rgba(24, 25, 31, 0.6)), url(../images/BootsHeader.webp);
}
#howtocareforyourclothesheader {
    background-image:  url(../images/howtocareforyourclothesheader.webp);
}
#guideonbusinesscasualsheader{
    background-image: linear-gradient(0deg, rgba(24, 25, 31, 0.6), rgba(24, 25, 31, 0.6)), url(../images/GuideOnBusinessCasuals.webp);
}
#ClothingItemsToElevateYourWardrobeHeader{
    background-image: linear-gradient(0deg, rgba(24, 25, 31, 0.6), rgba(24, 25, 31, 0.6)), url(../images/ClothingItemsToElevateYourWardrobeHeader.webp);
}
/* POSTS */
.PostHeader {
    width: calc(100% - 140px);
    padding: 200px 70px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.PostHeader h1 {
    width: 100%;
    color: #fff;
    margin-bottom: 50px;
    text-transform: capitalize;
}

.PostHeader h4 {
    width: 100%;
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
}

.PostBody {
    padding: 0 70px;
    margin-bottom: 100px;
}

.PostBody h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.PostBody h3 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.PostBody h4 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.PostBody p {
    margin-bottom: 20px;
    text-align: justify;
}

.PostBody a {
    color: #E28F1D;
}

.PostBody ul {
    font-size: 18px;
    font-family: 'Sora';
    font-weight: 300;
    line-height: 32px;
}

.PostPhotoWrapContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.PostPhoto {
    width: 500px;
    height: 300px;
    background-color: aqua;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.PostPhotoElaborate {
    width: calc(100% - 550px);
}


/* POSTS IMAGES */
/* Appear majestic */
#majestictieclip {
    background-image: url(../images/majestictieclips.webp);
}
#majesticwristwatch{
    background-image: url(../images/majesticwristwatch.webp);
}
#majesticpocketsquare{
    background-image: url(../images/majesticpocketsquare.webp);
}
#majesticcufflinks{
    background-image: url(../images/majesticcufflinks.webp);
}

/* Nine Accssories */
#accessoriescufflinks {
    background-image: url(../images/accessoriescufflinks.webp);
}
#sunglasses {
    background-image: url(../images/accessoriessunglasses.webp);
}
#suspenders {
    background-image: url(../images/accessoriessuspenders.webp);
}

/* Skin Care Tips */
#washyourface {
    background-image: url(../images/washyourface.webp);
}
#moisturize{
    background-image: url(../images/moisturize.webp);
}
#stoptouchingyourface{
    background-image: url(../images/stoptouchingyourface.webp);
}
#drinkwater{
    background-image: url(../images/drinkwater.webp);
}
#changeyourpillowcase{
    background-image: url(../images/chanegyourpillowcase.webp);
}
#vitaminc{
    background-image: url(../images/vitaminc.webp)
}

/* Guide to mens boots */
#moctoeboots {
    background-image: url(../images/moctoeboots.webp);
}
#chukaboots {
    background-image: url(../images/chukkaboots.webp);
}
#serviceboots{
    background-image: url(../images/serviceboots.webp);
}
#derbyboots{
    background-image: url(../images/derbyboots.webp);
}
#balmoralboots{
    background-image: url(../images/balmoral.webp);
}
#chelseaboots{
    background-image: url(../images/chelseaboots.webp);
}
#jodhpurboots{
    background-image: url(../images/jodphurboots.webp);
}

/* SUITS */
#suitfit {
    background-image: url(../images/SuitHeader.webp);
}
#suitwatch{
    background-image: url(../images/suitwatch.webp);
}
#suitbuttons{
    background-image: url(../images/suitbuttons.webp);
}
#suitstitch{
    background-image: url(../images/suitstitch.webp);
}
#suitaccessories{
    background-image: url(../images/accessories.webp);
}
#suitleather {
    background-image: url(../images/leather.webp);
}

/* How to care for your clothes */
#washingmachine{
    background-image: url(../images/washingmachine.webp);
}
#separatebeforeyouwash{
    background-image: url(../images/separatebeforeyouwash.webp);
}
#storeyourclothesproperly{
    background-image: url(../images/storeyourclothesproperly.webp);
}
#howtotreatstains{
    background-image: url(../images/howtotreatstains.webp);
}
#grease{
    background-image: url(../images/grease.webp);
}
#coffee{
    background-image: url(../images/coffee.webp);
}
#ketchup{
    background-image: url(../images/ketchup.webp);
}


/* Guide on business casual */
#businesscasualshirt{
    background-image: url(../images/businesscasualshirt.webp);
}
#businesscasualtrousers{
    background-image: url(../images/businesscasualtrousers.webp);
}
#businesscasualshoes{
    background-image: url(../images/businesscasualshoes.webp);
}

/* Clothing Items to elevate wardrobe */ 
#darkcolouredtwopiece {
    background-image: url(../images/darkcolouredtwopiece.webp);
}
#blackleathershoes {
    background-image: url(../images/blackleathershoes.webp);
}
#waistcoats {
    background-image: url(../images/waistcoats.webp);
}

/* Skincare products */
#skincaregranny {
    background-image: url(../images/Untitled.webp);
}
@media (max-width: 1000px) {
    .SpotlightRead {
        width: calc(100% - 60px);
        height: unset;
        padding: 150px 30px 50px 30px;
        margin-bottom: 100px;
    }
    .SpotlightReadInfo {
        position: unset;
        width: 100%;
        margin-bottom: 50px;
    }

    .SpotlightReadInfo h3 {
        margin-bottom: 10px;
    }

    .SpotlightReadInfo h2 {
        margin-bottom: 20px;
        font-size: 40px;
        line-height: normal;
    }

    .SpotlightReadInfo .Button {
        width: 100%;
        padding: 0;
        color: #E28F1D;
        background: none;
        font-size: 18px;
    }
    .PreviousSpotlight {
        position: unset;
        width: 100%;
        margin-bottom: 50px;
    }
    
    .PreviousSpotlight h3 {
        margin-bottom: 10px;
    }
    .PreviousSpotlightImage {
        display: none;
    }
    .PreviousSpotlight h4 {
        font-size: 16px;
        text-transform: capitalize;
    }
    .RelatedReads {
        position: unset;
        width: 100%;
        padding: 0;
        background: none;
        height: max-content;
    }

    .RelatedReads h3 {
        margin-bottom: 10px;
    }


    .RelatedReadsItemContainer {
        display: block;
        width: 100%;
    }

    .RelatedReadsItem {
        width: 100%;
        margin-bottom: 10px;
    }

    .RelatedReadsItem a {
        font-size: 16px;
        width: 100%;
    }
    .RelatedReadsItemImage {
        display: none;
    }
    
    .OlderPosts {
        width: calc(100% - 60px);
        margin: 0 auto;
    }

    .ThickLine {
        width: 100px;
    }

    .OlderPostsItemContainer {
        display: block;
    }

    .OlderPostsItem {
        width: 100%;
        margin-bottom: 50px;
    }

    
    
    
    /* POSTS */
    .PostHeader {
        width: calc(100% - 60px);
        padding: 200px 30px;
    }

    .PostHeader h1 {
        width: 100%;
    }

    .PostBody {
        padding: 0 30px;
    }

    .PostBody ul {
        font-size: 15px;
    }
    .PostPhotoWrapContainer {
        display: block;
        width: calc(100%);
    }

    .PostPhoto {
        width: 100%;
    }

    .PostPhotoElaborate {
        width: 100%;
    }
}