.StandardHeader {
    margin: 0 0 100px 0;
    width: 100vw;
    padding-top: 282px;
    height: calc(805px - 282px);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/StarterPacks.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.StandardHeader h1 {
    position: relative;
    margin: 0 0 24px 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

.StandardHeader h4 {
    position: relative;
    margin-bottom: 100px;
    /* top: 388px; */
    width: 100%;
    text-align: center;
    color: #fff;
    opacity: 0.7;

}

.StandardHeader .Button {
    position: relative;
    margin: 0 auto;
    /* top: 470px;
    left: calc(50% - 87.5px); */
}

.StarterPacks .Products {
    margin-bottom: 150px;
}

.StarterPacks .SummaryPhoto {
    height: 300px;
}

.StarterPacks .SummaryPhotoRight {
    height: 300px;
}

#starterpackproducts .Button {
    margin: 0 auto;
}

.PersonalStylist {
    margin: auto;
    display: flex;
    align-items: center;
    width: calc(100% - 140px);
    margin: 100px auto;
}

.PersonalStylist .ProductSummary{
    width: 750px;
}

.PersonalStylist .ProductSummary p{
    width: 100%;
}
.PersonalStylistPhoto {
    width: 476px;
    height: 601px;
    background-image: url(../images/PersonalStylist.webp);
    margin-right: 100px;
    background-color: aqua;
}

#everythingyouneed{
    background-image: url(../images/EverythingYouNeed.webp);
}
#savecost{
    background-image: url(../images/SaveCost.webp);
}

#corporate{
    background-image: url(../images/Corporate.webp);
}
#smartcasual{
    background-image: url(../images/SmartCasual.webp);
}
#streetwear{
    background-image: url(../images/Streetwear.webp);
}
#techbro {
    background-image: url(../images/TechBro.webp);
}
#student{
    background-image: url(../images/Student.webp);
}
#athleisure{
    background-image: url(../images/Athleisure.webp);
}
#traditional{
    background-image: url(../images/Traditional.webp);
}
#fashionista{
    background-image: url(../images/Fashionista.webp);
}
#custommade{
    background-image: url(../images/CustomMade.webp);
}


.Community {
    height: 100vh;
    overflow: hidden;
}

.Community .StandardHeader {
    background-image: url(../images/CommunityHero.webp);
}

.CommunityButtonContainer{
    position: fixed;
    bottom: 50px;
    display: flex;
    justify-content: space-between;
    left: 70px;
    width: calc(100% - 140px);
}

#instabutton{
    box-shadow: 0px 10px 20px rgba(225, 48, 108, 0.07);
    background: #E1306C;
}
#twitterbutton{
    background: #1D9BF0;
}
#facebookbutton{
    background: #1778F2;
}
#linkedinbutton{
    background-color: #0A66C2;
}
#whatsappbutton{
    background-color: #28D146;
}

#instabutton:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(225, 48, 108, 0.25);
}
#twitterbutton:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(29, 155, 240, 0.25);
}
#facebookbutton:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(29, 155, 240, 0.25)
}
#linkedinbutton:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(29, 155, 240, 0.25);
}
#whatsappbutton:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(29, 155, 240, 0.25);
}

.SkinCare {
    height: 100vh;
    overflow: hidden;
}
.SkinCare .StandardHeader {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/SkinCareHeader.webp);   
    padding-top: 200px;
    height: 100%;
}

.SkinCare h1 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.SkinCare h4 {
    margin-top: 100px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.Support nav ul li {
    color: #18191F;
}

.Support #logoblack {
    display: block;
}

.Support #logowhite {
    display: none;
}

.Support .StandardHeader{
    background: none;
    color: #18191F;
    height: max-content;
    padding-top:200px;
}

.Support h1  {
    color: #18191F;
}

.Support h4  {
    color: #18191F;
    margin-bottom: 100px;
}
.SupportFieldContainer {
    margin: 0 auto;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.RegularField {
    padding: 18px 36px;
    border-radius: 35px;
    color: #18191F;
    font-family: 'Montserrat';
    font-size: 18px;
    border: 2px solid #E28F1D;
    outline: none;
    width: 324px;
}

.SupportFieldContainer select {
    width: 400px;
}

.MessageField {
    border-radius: 35px;
    color: #18191F;
    font-family: 'Montserrat';
    font-size: 18px;
    border: 2px solid #E28F1D;
    outline: none;
    text-align: top;
    padding: 18px 36px;
    width: 828px;
    height: 200px;
}

.SubmitField {
    border-radius: 35px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 18px;
    background-color: #E28F1D;
    border: 2px solid #E28F1D;
    outline: none;
    text-align: top;
    padding: 18px 36px;
    width: 828px;
}

@media (max-width: 1000px) {

    .Community{
        height: max-content;
    }

    .CommunityButtonContainer{
        position: relative;
        margin-top: 100px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: space-between;
        left: 70px;
        width: calc(100% - 140px);
    }

    .Community .StandardHeader {
        height: max-content;
        margin-bottom: 0;
    }

    .StarterPacks .SummaryPhoto {
        height: 150px;
    }
    
    .StarterPacks .SummaryPhotoRight {
        height: 150px;
    }

    .PersonalStylist {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 60px);
        margin: 100px auto;
    }
    
    .PersonalStylist .ProductSummary{
        width: 100%;
    }
    
    .PersonalStylist .ProductSummary p{
        width: 100%;
    }
    .PersonalStylistPhoto {
        width: 100%;
        height: 601px;
        background-image: url(../images/PersonalStylist.webp);
        margin: 0 auto 30px auto;
        background-color: aqua;
    }


    .SkinCare {
        height: 100vh;
        overflow: hidden;
    }
    .SkinCare .StandardHeader {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/SkinCareHeader.webp);   
        padding-top: 150px;
        height: 100%;
    }
    
    .SkinCare h1 {
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
    }
    
    .SkinCare h4 {
        margin-top: 50px;
        width: calc(100% - 60px);
        margin-left: auto;
        margin-right: auto;
    }

    .Support .StandardHeader{
        background: none;
        color: #18191F;
        height: max-content;
        padding-top: 150px;
    }
    
    .Support h1  {
        color: #18191F;
    }
    
    .Support h4  {
        color: #18191F;
        margin-bottom: 100px;
    }
    .SupportFieldContainer {
        margin: 0 auto;
        width: calc(100% - 60px);
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }

    .Support #logoblack {
        display: none;
    }
    
    .RegularField {
        padding: 18px 36px;
        border-radius: 35px;
        color: #18191F;
        font-family: 'Montserrat';
        font-size: 18px;
        border: 2px solid #E28F1D;
        outline: none;
        width: 100%;
    }
    
    .SupportFieldContainer select {
        width: 100%;
    }
    
    .MessageField {
        border-radius: 35px;
        color: #18191F;
        font-family: 'Montserrat';
        font-size: 18px;
        border: 2px solid #E28F1D;
        outline: none;
        text-align: top;
        padding: 18px 36px;
        width: 100%;
        height: 200px;
    }
    
    .SubmitField {
        border-radius: 35px;
        color: #fff;
        font-family: 'Montserrat';
        font-size: 18px;
        background-color: #E28F1D;
        border: 2px solid #E28F1D;
        outline: none;
        text-align: top;
        padding: 18px 36px;
        width: 100%;
    }
}