body {
  width: 100vw;
  overflow-x: hidden;
}

a{
  color: initial;
  text-decoration: none;
}
h1 {
  font-family: 'Rische';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
  text-align: center;
  margin: 0;
}

h2 {
  margin: 0;
  font-family: 'Rische';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: 'salt' on, 'liga' off;
}

h3 {
  margin: 0;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

h4 {
  margin: 0;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

h5 {
  margin: 0;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

span {
  margin: 0;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
}

p {
  margin: 0;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}