@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  width: 100vw;
  overflow-x: hidden;
}

a{
  color: initial;
  text-decoration: none;
}
h1 {
  font-family: 'Rische';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
  text-align: center;
  margin: 0;
}

h2 {
  margin: 0;
  font-family: 'Rische';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: 'salt' on, 'liga' off;
}

h3 {
  margin: 0;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

h4 {
  margin: 0;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

h5 {
  margin: 0;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

span {
  margin: 0;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

p {
  margin: 0;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}